@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.tres-en-raya-container {
  background-color: #1a2937;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 10%;
}

.tres-en-raya-title {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Luckiest Guy", cursive;
}

.rojo {
  color: #e6004c;
}

.tres-en-raya-board {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
}

.tres-en-raya-cell {
  width: 100px;
  height: 100px;
  color: #18bc9c;
  border: 2px solid #6b7885;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
}

#turno {
  color: white;
  font-family: "Luckiest Guy", cursive;
}

.tres-en-raya-buttons {
  margin-top: 20px;
}

.tres-en-raya-buttons button {
  background-color: #18bc9c;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
