.ahorcado-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.ahorcado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teclado {
  margin-top: 20px;
}

.mensaje {
  margin: 10px 0;
  font-weight: bold;
}

.letras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.letras button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.letras-incorrectas {
  color: red;
}

#boton-reiniciar {
  margin-left: 40%;
  margin-top: 20px;
}
