@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.ahorcado-container {
  display: flex;
  background-color: #1a2937;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 10%;
  height: 532px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.ahorcado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ahorcado-title {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Luckiest Guy", cursive;
}

.palabra {
  color: white;
}

.teclado {
  margin-top: 20px;
}

.mensaje {
  margin: 10px 0;
  font-weight: bold;
  color: white;
}

.letras {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 24%;
  justify-content: center;
}

.letras button {
  background-color: #18bc9c;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.letras-incorrectas {
  color: red;
}

.intentos-restantes {
  color: white;
}
